# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.env
.venv/
.virtualenv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

.python-version